/* navbar */
.contact {
  width: 130px;
  height: 38px;
  text-align: center;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #f47522;
  border-radius: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  text-decoration: none;
  background-color: #ffff;
}

.header ul li {
  display: inline-block;
  margin-top: 20px;
  margin-right: 10px;
}

.sidemenu {
  text-decoration: none;
  margin: 2.42282879195px 157px 2.42282879195px 1.69597315436px;
  float: right;
}

.list {
  text-decoration: none;
  font: 12.5px arial;
  font-weight: bold;
  color: #19345e;
  margin-left: 25px;
}

.list.contact {
  color: #fff;
  padding: 5px.5px 33px;
  margin-left: 49.65px;
}

.header a:hover {
  color: #f47522;
}

/* About */
.areajudul {
  height: 176px;
  text-align: center;
  padding: 60px 100px;
}
.judul {
  font-size: 45px;
  font-family: "Muli", sans-serif;
  font-weight: 700;
  color: #19345e;
}
.judul:after,
.judul:before {
  content: "\2014";
  color: #f47522;
}
/* gambar */
.bggambar2 {
  width: auto;
  height: 483px;
  background-image: url(img/bg-people@2x.png);
  opacity: 100%;
  background-size: cover;
  box-sizing: border-box;
}

.gambar2 {
  width: auto;
  height: 483px;
  background-color: #19345e;
  opacity: 80%;
}

.tema {
  text-align: center;
  font: normal normal bold 55px/24px Muli;
  letter-spacing: 0px;
  color: #ffffff;
}

.tema1 {
  text-align: center;
  font: normal normal bold 18px/24px Muli;
  letter-spacing: 0px;
  color: #ffffff;
}

/* footer */
.sosmed {
  text-align: left;
  font: normal normal normal 14px/12px Arial;
  letter-spacing: 0px;
  color: #ffffff;
}

.cpright {
  text-align: left;
  font: normal normal normal 14px/12px Muli;
  letter-spacing: 0px;
  color: #ffffff;
}
