/* navbar */
.contact {
  width: 130px;
  height: 38px;
  text-align: center;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #f47522;
  border-radius: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  text-decoration: none;
  background-color: #ffff;
}

.header ul li {
  display: inline-block;
  margin-top: 20px;
  margin-right: 10px;
}

.sidemenu {
  text-decoration: none;
  margin: 2.42282879195px 157px 2.42282879195px 1.69597315436px;
  float: right;
}

.list {
  text-decoration: none;
  font: 12.5px arial;
  font-weight: bold;
  color: #19345e;
  margin-left: 25px;
}

.list.contact {
  color: #fff;
  padding: 5px.5px 33px;
  margin-left: 49.65px;
}

.header a:hover {
  color: #f47522;
}

/* body */
.background {
  width: auto;
  height: auto;
  background: #edf6ff 0% 0% no-repeat padding-box;
}

/* konten kanan */
.kt1 {
  text-align: left;
  font: normal normal 900 25px/31px Muli;
  letter-spacing: 0px;
  color: #19345e;
}

.kt2 {
  text-align: left;
  font: normal normal bold 45px/59px Roboto;
  letter-spacing: 0px;
}

.kt3 {
  text-align: left;
  font: normal normal bold 17px/24px Muli;
  letter-spacing: 0px;
  color: #19345e;
}

/* button orange */
.button {
  width: 227.5px;
  height: 41.5px;
  background-color: #f47522;
  border-radius: 25px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12.5px;
  text-decoration: none;
  font: 12.5px;
  text-align: center;
  margin-top: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.send {
  width: 62px;
}

.send-message {
  width: 20px;
  height: 20px;
  float: right;
  margin-top: 10px;
}

.tombol {
  width: 165.5px;
  float: right;
}

.list-button {
  color: #fff;
  float: left;
  margin-top: -16px;
  margin-left: 15px;
}

/* capsule */
.imgmini {
  background: #f47522 0% 0% no-repeat padding-box;
  text-align: left;
  font: normal normal bold 16px/24px Roboto;
  letter-spacing: 0px;
  color: #19345e;
  opacity: 1;
}

.tulis1 {
  font: normal normal bold 16px/24px Roboto;
  letter-spacing: 0px;
  color: #19345e;
}

.tulis2 {
  font: normal normal normal 14px/24px Muli;
  letter-spacing: 0px;
  color: #19345e;
}

/* About */
.areajudul {
  height: 176px;
  text-align: center;
  padding: 60px 100px;
}
.judul {
  font-size: 45px;
  font-family: "Muli", sans-serif;
  font-weight: 700;
  color: #19345e;
}
.judul:after,
.judul:before {
  content: "\2014";
  color: #f47522;
}
/* gambar */
.bggambar2 {
  width: auto;
  height: 483px;
  background-image: url(img/bg-people@2x.png);
  opacity: 100%;
  background-size: cover;
  box-sizing: border-box;
}

.gambar2 {
  width: auto;
  height: 483px;
  background-color: #19345e;
  opacity: 80%;
}

.tema {
  text-align: center;
  font: normal normal bold 55px/24px Muli;
  letter-spacing: 0px;
  color: #ffffff;
}

.tema1 {
  text-align: center;
  font: normal normal bold 18px/24px Muli;
  letter-spacing: 0px;
  color: #ffffff;
}

/* Meet Our Team */
.mot {
  text-align: center;
  font: normal normal bold 17px/16px Muli;
  letter-spacing: 0px;
  color: #19345e;
}

/* foto kiri */
.foto-kiri {
  height: 265x;
  width: 225px;
  box-sizing: border-box;
  float: left;
}
.fotokiri {
  width: 225px;
}

.border1 {
  width: 225px;
  height: 265px;
  border: #f47522 10px solid;
  position: relative;
  margin-top: -250px;
}

.foto-kiri h3 {
  font: 20px arial;
  font-weight: 700;
  text-align: center;
  color: #f47522;
}
.foto-kiri h4 {
  font: 15px arial;
  font-weight: 500;
  text-align: center;
  color: #19345e;
  margin-top: -17px;
}

/* foto tengah */

.border2 {
  width: 225px;
  height: 265px;
  border: #19345e 10px solid;
  position: relative;
  margin-top: -250px;
}

/* blog */
.create {
  text-align: left;
  font: normal normal bold 20px/24px Roboto;
  letter-spacing: 0px;
  color: #19345e;
}

.tx1 {
  font: normal normal normal 14px/24px Poppins;
  letter-spacing: 0px;
  color: #707070;
}

.tx2 {
  font: normal normal normal 14px/24px Poppins;
  letter-spacing: 0px;
  color: #707070;
}

.tx3 {
  text-align: left;
  font: normal normal normal 14px/24px Poppins;
  letter-spacing: 0px;
  color: #19345e;
}

.readmore {
  text-decoration: underline;
  font: normal normal normal 14px/24px Poppins;
  letter-spacing: 0px;
  color: #f47522;
}

/* footer */
.sosmed {
  text-align: left;
  font: normal normal normal 14px/12px Arial;
  letter-spacing: 0px;
  color: #ffffff;
}

.cpright {
  text-align: left;
  font: normal normal normal 14px/12px Muli;
  letter-spacing: 0px;
  color: #ffffff;
}
