/* navbar */
.contact {
  width: 130px;
  height: 38px;
  text-align: center;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #f47522;
  border-radius: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  text-decoration: none;
  background-color: #ffff;
}

.header ul li {
  display: inline-block;
  margin-top: 20px;
  margin-right: 10px;
}

.sidemenu {
  text-decoration: none;
  margin: 2.42282879195px 157px 2.42282879195px 1.69597315436px;
  float: right;
}

.list {
  text-decoration: none;
  font: 12.5px arial;
  font-weight: bold;
  color: #19345e;
  margin-left: 25px;
}

.list.contact {
  color: #fff;
  padding: 5px.5px 33px;
  margin-left: 49.65px;
}

.header a:hover {
  color: #f47522;
}
/* About Our Team */

.areajudul {
  height: 176px;
  text-align: center;
  padding: 60px 100px;
}
.judul {
  font-size: 45px;
  font-family: "Muli", sans-serif;
  font-weight: 700;
  color: #19345e;
}
.judul:after,
.judul:before {
  content: "\2014";
  color: #f47522;
}

* Foto Kiri */ .foto-kiri {
  height: 350px;
  width: 301px;
  box-sizing: border-box;
  float: left;
  margin-top: 50px;
}
.fotokiri {
  margin-left: 15px;
}

.jd1 {
  text-align: left;
  font: normal normal bold 30px/12px Muli;
  color: #19345e;
  margin-left: -10px;
}

.border1 {
  width: 320px;
  height: 399px;
  border: #f47522 10px solid;
  position: relative;
  margin-top: -370px;
  margin-left: -10px;
}

.border2 {
  width: 320px;
  height: 399px;
  border: #19345e 10px solid;
  position: relative;
  margin-top: -370px;
  margin-left: -10px;
}

.t1 {
  font: normal normal bold 14px/24px Poppins;
  color: #19345e;
}

.Tahun {
  text-align: left;
  font: normal normal normal 14px/12px Poppins;
  letter-spacing: 0px;
  color: #19345e;
  opacity: 1;
}

/* footer */

.sosmed {
  text-align: left;
  font: normal normal normal 14px/12px Arial;
  letter-spacing: 0px;
  color: #ffffff;
}

.cpright {
  text-align: left;
  font: normal normal normal 14px/12px Muli;
  letter-spacing: 0px;
  color: #ffffff;
}
